<div class="vh-100 w-100 d-flex flex-row container-fluid p-0">

  <div class="container-fluid text-white text-nowrap"
       [class.bg-primary]="!enableGradient"
       [class.gradient-animation]="enableGradient"
       (mouseenter)="menuOpen = true"
       (mouseleave)="menuOpen = false"
       [ngStyle]="{
          width: menuOpen ? '300px' : '5%',
          'min-width': menuOpen ? '300px' : '75px',
          height: '100%',
          transition: '.5s all ease-in-out'
       }">
    <div class="row bg-dark" [class.text-center]="!menuOpen">
      <div class="col-12 p-3">
        <img class="mx-1 basic-hover cursor-pointer"
             width="40px" height="40px" src="assets/favicon/apple-touch-icon.png"
             title="Home"
             [routerLink]="'/'">
        <ng-container *ngIf="menuOpen">
          <h4 @fadeIn class="font-weight-bold d-inline">My Daily Steps</h4>
        </ng-container>
      </div>
    </div>
    <div class="row" *ngFor="let item of menu">
      <div class="col p-3 border-radius basic-hover font-weight-bold cursor-pointer text-center"
           [routerLink]="item.path" [queryParams]="item.params || {}">
        <i class="mr-1 la la-2x {{item.icon}}"></i>
        <span @fadeIn *ngIf="menuOpen">{{item.name}}</span>
      </div>
    </div>
  </div>
  <div class="flex-fill overflow-y-auto" [ngStyle]="{'z-index': 1}"
       [class.bg-light]="!enableGradient"
       [class.bg-secondary]="enableGradient">
    <div class="container-fluid">
      <div class="row">
        <div class="col p-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>
</div>
