<ngx-charts-bar-vertical [results]="chartData"
                         [legend]="showLegend"
                         [legendTitle]="legendTitle"
                         [legendPosition]="legendPosition"
                         [tooltipDisabled]="!hasTooltip"
                         [animations]="showAnimations"
                         [gradient]="isGradient"
                         [scheme]="colorScheme"
                         [xAxis]="showAxis?.xAxis"
                         [yAxis]="showAxis?.yAxis"
                         [showXAxisLabel]="showLabels?.xAxis"
                         [showYAxisLabel]="showLabels?.yAxis"
                         [xAxisLabel]="labels?.xAxis"
                         [yAxisLabel]="labels?.yAxis"
                         (select)="selectBar.emit($event)"
                         (activate)="activateBar.emit($event)"
                         (deactivate)="deactivateBar.emit($event)"
                         [view]="dimensions">
</ngx-charts-bar-vertical>
